.container{
    width: 80%;
    height: 40px;
    background-color: beige;
    display: flex;
    justify-content: center;
    align-items: center;

}
.titulo{
    color: rgb(182, 127, 255);
    font-size: larger;
}